* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0px;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  background: #282828;
}

window#waybar.hidden {
  opacity: 1;
}

#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#workspaces button.special,
#workspaces button.special.active,
#window,
#tray,
#backlight,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#clock,
#submap {
  font-family: FiraCode;
  font-size: 12px;
  font-weight: 800;
  color: #282828;
  /* background: #282828; */
  /* border: 4px solid #282828; */
  /* border-radius: 0px; */
}
#window,
#tray,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#memory {
  margin-right: 5px; 
  margin-left: 5px;
  /* all modules depend on this for some reason */
}

/* ================================= */

tooltip {
  background-color: #282828;
  color: #ebdbb2;
  padding: 5px 10px;
  border: 1px solid #504945;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* ================================= */

#workspaces button {
  color: #ebdbb2;
  border-radius: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 30px;
}

#workspaces button:hover {
  background: #83a598;
}

#workspaces button.visible {
  background: #83a598;
}

#workspaces button.visible:hover {
  background: #83a598;
}

#workspaces button.active {
  background: #83a598;
}

#workspaces button.active:hover {
  background: #83a598;
}

#workspaces button.urgent {
  background: #ea6962;
}

/* ================================= */

#workspaces button.special {
  background-color: #d65d0e;
}

#workspaces button.special:hover {
  background-color: #83a598;
}

#workspaces button.special.active {
  background-color: #fe8019;
}

#workspaces button.special.active:hover {
  background-color: #83a598;
}

/* ================================= */

#window {
  color: #282828;
  background: #83a598;
  border-radius: 0.7px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 5px;
  margin-right: 3px;

  padding-left: 5px;
  padding-right: 5px;
  /* min-width: 20px; */
}

window#waybar.empty #window {
  margin: 0;
  padding: 0;
  background: transparent;
  color: transparent;
}

/* ================================= */

#backlight {
  color: #d8a657;
}

/* ================================= */

#memory {
  color: #b8bb26;
}

/* ================================= */

#pulseaudio {
  color: #83a598;
}

#pulseaudio.muted {
  color: #ea6962;
}

/* ================================= */

#battery {
  color: #b8bb26;
}

#battery.critical {
  color: #cc241d;
}

#battery.warning {
  color: #fe8019;
}

#battery.full {
  color: #b8bb26;
}

#battery.charging {
  color: #98971a;
}

#battery.plugged {
  color: #98971a;
}

#battery.charging.warning {
  color: #d79921;
}

#battery.charging.critical {
  color: #cc241d;
}

/* ================================= */

#clock {
  color: #ebdbb2;
}

/* ================================= */

#submap {
  background: #d79921;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 4px;

  padding-left: 4px;
  padding-right: 4px;
}

